<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      {{title}}!
    </h1>
    <div *ngIf="thing">
      <h1>Thing is true and therefore it's displayed</h1>
    </div>
    <button (click)="show()">SHOW</button>
    <button (click)="hide()">HIDE</button>
  <app-pie-list></app-pie-list>

  <app-new-task
      (newTaskSender)="addTask($event)"
  ></app-new-task>

  <app-task-list
        [childTaskList]="masterTaskList"
        (clickSender)="showDetails($event)"
  ></app-task-list>

  <app-edit-task
        [childSelectedTask]="selectedTask"
        (doneClickedSender)="finishedEditing()"
  ></app-edit-task>
